:root{
    --wpb-work-color: #97EF00;
    --wpb-break-color: #7107B9;
    --wpb-busy-color: #fbb104;
    --wpb-stop-color: #FF3100;
    --wpb-bg-color: #242424;
    --wpb-brd-color: #ffffff;
    --wpb-height: 8px;
    --wpb-brd: 0px;
    --wpb-radius: calc(var(--wpb-height) / 2);
    --wpb-margin: 2px;
    --wpb-body-margin: -12px;
    --wpg-tooltip-height: 14px;
}

div#workPB {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    left: var(--wpb-margin);
    right: var(--wpb-margin);
    bottom: var(--wpb-margin);
    height: var(--wpb-height);
    background-color: var(--wpb-bg-color);
    border: var(--wpb-brd) solid var(--wpb-brd-color);
    border-radius: var(--wpb-radius);
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0,0,0,1);
    z-index: 10000;
}
#workPB #workPB-overtime{
    background:
    radial-gradient(rgba(255,255,255,.4) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,255,255,.4) 15%, transparent 16%) var(--wpb-height) var(--wpb-height);
    background-size:8px 8px;
    mix-blend-mode: exclusion;
    position: absolute;
    pointer-events: none;
    right: 8px;
    top: 0;
    height: 100%;
    z-index: 1;
}
#workPB #workPB-overtime:before{
    content: '';
    position: absolute;
    bottom: -50%;
    top: -50%;
    left: 0;
    width: 6px;
    background-color: white;
    transform: rotate(-45deg);
    opacity: .8;
    pointer-events: all;
}
#workPB .workPB-segment{
    position: relative;
    display: inline-block;
    top: 0;
    width: 0px;
    height: 0px;
    border-bottom-width: var(--wpb-height);
    border-bottom-style: solid;
    border-right-width: var(--wpb-height);
    border-right-style: solid;
    border-right-color: transparent;
    opacity: 1;
}
#workPB .workPB-segment:before{
    content: '';
    position: absolute;
    left: calc(var(--wpb-height) * -1);
    display: inline-block;
    width: 0;
    height: 0;
    border-top: var(--wpb-height) solid white;
    border-left: var(--wpb-height) solid transparent;
    pointer-events: none;
}
#workPB[data-tooltip],
#workPB [data-tooltip]{
    cursor: help;
}
#workPB[data-tooltip]:after,
#workPB [data-tooltip]:after{
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: var(--wpb-margin);
    transform: translate(-50%,10px);
    background-color: var(--wpb-bg-color);
    color: white;
    padding: 0 8px;
    border-radius: calc(var(--wpg-tooltip-height) / 2);
    height: var(--wpg-tooltip-height);
    line-height: var(--wpg-tooltip-height);
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    transition: 200ms opacity, 200ms transform;
    pointer-events: none;
}
#workPB #workPB-overtime[data-tooltip]:after{
    left: 0;
    bottom: calc(var(--wpb-height) + var(--wpb-margin));
    background: white;
    color: var(--wpb-bg-color);
    line-height: calc(var(--wpg-tooltip-height) - 1px);
    border: 1px dashed;
}
#workPB .workPB-segment[data-tooltip]:after{
    z-index: 2;
}
#workPB[data-tooltip]:hover:after,
#workPB [data-tooltip]:hover:after{
    opacity: 1;
    transform: translate(-50%,0);
}
#workPB[data-tooltip]:after{
    bottom: calc(var(--wpb-height)*3);
}
#workPB .workPB-segment.work{
    border-bottom-color: var(--wpb-work-color);
}
#workPB .workPB-segment.work:before{
    border-top-color: var(--wpb-work-color);
}
#workPB [data-tooltip].work:after{
    background-color: var(--wpb-work-color);
    color: var(--wpb-bg-color);
}
#workPB .workPB-segment.break{
    border-bottom-color: var(--wpb-break-color);
}
#workPB .workPB-segment.break:before{
    border-top-color: var(--wpb-break-color);
}
#workPB [data-tooltip].break:after{
    background-color: var(--wpb-break-color);
}
#workPB .workPB-segment.busy{
    border-bottom-color: var(--wpb-busy-color);
}
#workPB .workPB-segment.busy:before{
    border-top-color: var(--wpb-busy-color);
}
#workPB [data-tooltip].busy:after{
    background-color: var(--wpb-busy-color);
}
#workPB .workPB-segment.stop{
    flex: 0 0 0px;
    border-bottom-color: var(--wpb-stop-color);
}
#workPB .workPB-segment.stop:before{
    border-top-color: var(--wpb-stop-color);
}
#workPB [data-tooltip].stop:after{
    background-color: var(--wpb-stop-color);
}
#workPB .workPB-segment.stop.fixedToRight{
    position: absolute;
    right: calc(var(--wpb-height) * -1);
}